/* NORMALIZE --------------------------------------------------*/
* {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  min-width: auto;
  user-select: none;
  appearance: none;
}
body {min-height: 100dvh;}
/* NORMALIZE --------------------------------------------------*/
/* BENTO --------------------------------------------------*/
.BentoGrid{
  margin: 20px 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-flow: row dense;
  gap: 20px;
}

.Bento {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* BENTO --------------------------------------------------*/
/* TESTING --------------------------------------------------*/
body {background-color:midnightblue;}
.BentoGrid{outline: solid 1px brown;}
.Bento{background-color:darkslateblue; grid-row: span 4; grid-column: span 4;  aspect-ratio: 1/1;}
/* TESTING --------------------------------------------------*/
